<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70263266281-vtsgnh9vmol7gbgg9s1sofksm0olmbkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70263266281-vtsgnh9vmol7gbgg9s1sofksm0olmbkn</string>
	<key>API_KEY</key>
	<string>AIzaSyAJlAre6Hzyn6Z9G-dWcflwYDBXiYIY5-I</string>
	<key>GCM_SENDER_ID</key>
	<string>70263266281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bizon.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-53069</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-53069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70263266281:ios:392ca3cca52beac2ca0978</string>
</dict>
</plist>